@model EduBalance.Models.StudyBalance

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StudyBalance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudyBalanceId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHours" class="control-label"></label>
                <input asp-for="StudyHours" class="form-control" />
                <span asp-validation-for="StudyHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakHours" class="control-label"></label>
                <input asp-for="BreakHours" class="form-control" />
                <span asp-validation-for="BreakHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRecorded" class="control-label"></label>
                <input asp-for="DateRecorded" class="form-control" />
                <span asp-validation-for="DateRecorded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
